<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - APIPRAC</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post">
        <label for="api_key">API Key:</label>
        <input type="text" id="api_key" name="api_key" required>
        <br>
        <label for="api_secret">API Secret:</label>
        <input type="password" id="api_secret" name="api_secret" required>
        <br>
        <input type="submit" value="Login">
    </form>
</body>
</html>
